{{!-- <div class="container-fluid">
  <div class="row">
    <div class="header">
      <div class="animation-target">
        <h2 class="headerText">Computer Science Trivia Game</h2>
      </div>
    </div>
  </div>
</div> --}}

<div class="container">
  <div>
    <form>
      <h3 style="margin: 0 auto; margin-top: 20px; text-align: center; color: #50514F;">Sign In</h3>
      <div class="form-group" style="margin-top: 20px;">
        <input style="width: 280px; margin: 0 auto; text-align: center;" type="username" class="form-control" id="InputUsername"
          placeholder="Enter username">
      </div>
      <div class="form-group">
        <input style="width: 280px; margin: 0 auto; text-align: center;" type="password" class="form-control" id="InputPassword"
          placeholder="Enter Password">
      </div>
      <div style="margin: 0 auto; text-align: center;">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>
<hr>
<div class="alert alert-danger" style="text-align: center; display: none;" id="PasswordsNotMatch" role="alert">
  Passwords did not match!
</div>

<div class="container">
  <div>
    <form>
      <h3 style="margin: 0 auto; margin-top: 20px; text-align: center; color: #50514F;">Sign Up</h3>
      <div class="form-group" style="margin-top: 20px;">
        <input style="width: 280px; margin: 0 auto; text-align: center;" type="username" class="form-control" id="SignUpUsername"
          placeholder="Enter Username">
      </div>
      <div class="form-group">
        <input style="width: 280px; margin: 0 auto; text-align: center;" type="password" class="form-control" id="SignUpPassword"
          placeholder="Enter Password">
      </div>
      <div class="form-group">
        <input style="width: 280px; margin: 0 auto; text-align: center;" type="password" class="form-control" id="ReSignUpPassword"
          placeholder="Re-enter Password">
      </div>
      <div style="margin: 0 auto; text-align: center;">
        <button id="submit" type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>
<hr>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="../public/js/bounce.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/public/js/loginlogic.js"></script>