



<div class="col-lg-12">
    <div class="card-body" id="answer-options">
        <div class="trivia-question">
            <h1>Your total score is :</h1>
            <div id="grand-total">Score </div>
        </div>
    </div>
</div>